body{
    font-family:Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.logo{
    padding: 10px;
    height: 50px;
    top: 0;
}

nav{
    border-bottom: 1px solid seashell;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}

.navbar {
text-decoration:underline;
height: 69px;
padding: 10px;
margin-right: 0;
margin-left: 30px;
margin-right: 0;
padding-right: 0;
text-align:right;
float: right;
justify-content:right;
display: inline-flex;
}

.nav{
text-align:right;
float: right;
justify-content:right;
display: inline-flex;
padding: 30px 10px;
color: seashell;
}

.id{
    background-image: url(https://github.com/darkhanzhursin/jihc-fe/blob/main/homeworks/css/tea/images/img-mission-background.jpg?raw=true);
    display: flex;
    justify-content: center;
    margin: 80px 145px;
    width:1200px;
    height:700px;
    text-align: center;
}

#Mission{
    display: flex;
    width: 100%;
}

.bb{
    width:1200px;
    height: fit-content;
    background-color: black;
    position: absolute;
    top: 50%;
}

article{
    text-align: center;
    display: inline-block;
    margin-left:37%;
    margin-right:auto
}

.pictures{
    display: inline-flex;
    justify-content: center;
}

.photo{
    height:200px;
    width: 300px;
    padding-bottom: 10px;
    justify-content: center;
}

.boom{
    margin-right: 1px;
    margin-left: 250px;
}

.gym{
    margin-left: 1px;
}

figcaption{
    text-align: center;
}

.images{
    display: inline-flex;
    justify-content: center;  
}
.first{
    margin-left:405px;
    margin-right: 1px;
}

#Locations{
    display: flex;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.img2{
    background-image: url(https://lh3.googleusercontent.com/pw/ADCreHfxF_mBEp0qDWwD9awATMYeZqhV0_gqJb4oPsYjhvzBeSMS6E8Pa4Su4nmQJ5dcOeM7a0mOBx5VmoHnf8WJYy0fAso1tbqBoPmNss4wTMlpXSEU-1q0Wlp2g4jGV2qcLEoDe7tQ1Z7UULzQGWQPzjAMUwTo3wRPlvoKnjIwVHnToQnjpro-UT6Avk7bw_DxYs0A9xAQsaqANBlEU9-rwoprZPp6JWKjjOe_SjYprN-IwzHTPqF4KENpkICSCCWatIM0gAxcbp_jZVqx4O7xjOakJX0pXVtzjR4QDdqUpn7pJUocSuGZRsrjsjf3JBvhpBf9D-7hmZqICwBOu5Pzvsx7LHtEFPWJ8buiTgRPTVpq6u2FWgf2CcfHLcRqtN0tVVUTup16WrOnomCIsSC-yRDwjR5TuD2fZN-mfHCCNHYIiLqN81rQbmEMrzzbLOfstJGYyJk3jHTXJmpzsq09CXt3C7COxGMbkrRs1m-smdW0YbBnx8iiqWmH_RvXOa4rmBhXEbKX6lQ2cuHJ0OM-lszps3AGm_GDcHd-ibXbcceth8oJ26Bjd21Za9YnmJc4cOyp6Y94ZC1KYkeIKpf5E4BKvcGXGmR4WNtT2rDa1x5FneYXHnw2CssKqWNw_l7y9sKr6g_MoXswjaS2JLzYVzOKclBm04Yrvtnbgc6O4256SwksO2e7aVYgCv6MQUmgL0k3wgzYf1jAmpVwarYd-kBiZ7ZW1ypON31AErgQJTeCdP4_s3V_3Ee14ADFtLuKjQfM8EV-50E50lGns68wf3i0nIp9OmiHlqQ9yFMV3kvZ9vKPD9gbjY7FsxurQx8KaSmYgnW-tMXcE5lFc_2Z-mfOletiA7XNgfns39LP-Je5tPuryraVT8b0Gj9bWkPSsM6jybREuQ7v_xphyJWd4qTUs-8=w1200-h795-s-no?authuser=0);
    display: flex;
    justify-content: center;
    margin: 50px 153px;
    height:600px;
    width: 100%;
    text-align: center;
}

.one{
    text-align: center;
    text-align: start;
    padding-bottom: 15px;
}

.normal{
    display: inline-flex;
}

.chill,.kill,.pretty{
    background-color: black;
  text-align: center;
  width: 300px;
  height: 250px;
  margin: 0px 20px;
  opacity: 1;
}

.hh{
    text-align: center;
    height: 200px;
}

.aa{
    text-align: left;
    padding-left: 20px;
}