body{
    font-family:Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
}

.logo{
    padding: 10px;
    height: 50px;
    top: 0;
}

nav{
    border-bottom: 1px solid seashell;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: black;
}
