* {
    border: 1px solid rgb(129, 182, 227);
  }
  
  p {
    color: rgb(3, 25, 91);
    border: 3px solid rgb(73, 151, 228);
  }
  
  
  .title {
    color: rgb(14, 4, 92);
  }

  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title {
    font-family: "Lucida Console", Courier, monospace;
  }
  
  .heading-background {
    background-color: rgb(53, 187, 171);
  }
  
  #publish-time {
    color: rgb(5, 14, 97);
  }
  
  ol h2 {
    color: rgb(5, 29, 149);
  }
  
  .author-class {
    color: pink;
  }
  
  #author-id {
    color: rgb(3, 25, 65);
  }
  
  h2.destination {
    font-family: monospace;
  }
  
  .description h3 {
    color: rgb(17, 2, 70);
  }
  
  li h3 {
    color: rgb(240, 206, 14);
  }


 header h1 {
    color: rgb(17, 2, 70);
  }
  
  li,
  h3 {
    font-family: monospace;

}


body{
    background-color: rgb(245, 246, 247);
}