* {
    border: 1px solid rgb(16, 3, 130);
  }
  
  p {
    color: rgb(11, 11, 11);
    border: 3px solid rgb(18, 7, 92);
  }
  
  
  .title {
    color: rgb(14, 4, 92);
  }
  
  .uppercase {
    text-transform: uppercase;
  }
  
  #article-title {
    font-family: "Lucida Console", Courier, monospace;
  }
  
  a:hover {
    color:darkorange;
  }
  
  .heading-background {
    background-color: rgb(53, 187, 171);
  }
  
  #publish-time {
    color: rgb(5, 14, 97);
  }
  
  h5 {
    color: yellow;
  }
  
  .author-class {
    color: pink;
  }
  
  #author-id {
    color: rgb(3, 25, 65);
  }
  
  h2.destination {
    font-family: monospace;
  }
  
  .description h3 {
    color: rgb(19, 5, 148);
  }
  
  li h4 {
    color: rgb(240, 206, 14);
  }
  
  h4 {
    color: rgb(173, 11, 124);
  }
  
  li,
  h3 {
    font-family: monospace;
  }
  